.w-e-topiclist {
    list-style: none;
    line-height: 1;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 200px;
    li {
        color: #333;
        padding: 5px 0;
        cursor: pointer;
        &:hover {
            background-color: #f1f1f1;
        }
    }
}
